body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    padding: 10px 0px;
}

.logo img {
    height: 50px;
}

.nav {
    display: flex;
    gap: 15px;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav a:hover {
    background-color: #555;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 11px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 10px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #666;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#praktische-info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #444343;
    color: white;
    text-align: center;
    padding: 20px 70px;
}

.text-info {
    margin: 20px;
}

li {
    list-style-type: none;
    margin-bottom: 7px;
}

h2 {
    color: hsl(240, 100%, 50%);
    cursor: pointer;
}

h2:hover {
    color: hsl(240, 100%, 40%);
}

#vlag {
    border-radius: 10px;
}


#sjaaltje:hover, #tshirt:hover, #trui:hover, #medic:hover, #vlag:hover, iframe:hover {
    transform: scale(1.1);
}

#sjaaltje, #tshirt, #trui, #medic, #bestand1, #vlag, iframe {
    border-radius: 10px;
}

#facebook:hover,  #bestand1:hover{
    animation: pulse 0.8s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.title{
    font-size: 30px;
}

#groepen{
    padding: 20px 70px;
}

/* Groepen Section */
#groepen {
    padding: 20px 70px;
    text-align: center;
}

#groepen .title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.group h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.group .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.group .content.left {
    text-align: left;
    flex-direction: row-reverse;
}

.group .content.right {
    text-align: right;
    flex-direction: row;
}

.content img {
    max-width: 100%;
    height: auto;
}

.foto_groep:hover {
    transform: scale(1.1);
}

.foto_groep {
    border-radius: 10px;
}

#leiding{
    background-color: #444343;
    padding: 20px 70px;
    color: white;
    text-align: center;
}

.foto_leiding:hover {
    transform: scale(1.1);
}

.foto_leiding {
    border-radius: 10px;
}
